{{ define "header" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>Список контактов</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/"><img src="/img/logo2.jpg" /></a>
            </div>
            <div class="headerCenter">
                Справочник контактов. Тестовое задание выполнил Москвичев Юрий
            </div>
            <div class="rightContact">
                Выполнил: Юрий
                Задал: Георгий <br/>
            </div>
        </header>
        <br/>
        <form method="GET" action="/Search">
            <input type="text" id="srchstr" name="srchstr" placeholder="Поиск по имени..." />
			
			<button type="submit" class="btn btn-default">Искать</button>
        </form>
        <br/>
        <a href="/write">New Contact</a>
        <br/>
{{ end }}        