{{ define "header" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>Список контактов</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/"><img src="/img/logo2.jpg" /></a>
            </div>
            <div class="headerCenter">
                Справочник контактов. Тестовое задание выполнил Москвичев Юрий
            </div>
            <div class="rightContact">
                Выполнил: Юрий
                Задал: Георгий <br/>
            </div>
        </header>
{{ end }}        